body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container-fluid{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.left-section {
  flex: 1;
  position: relative;
  background: url("./img/img.jpg") no-repeat center center / cover;
  color: white;
  padding: 50px;
  min-width: 320px;
  margin-right: 10px;
}
.contact-details {
  position: absolute;
  bottom: 50px;
}
.right-section {
  flex: 1;
  padding: 50px;
  background-color: #f9f9f9;
  min-width: 320px;
  border: 1px solid #7d8f7d;
  margin-left: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  margin-top: 10rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  background: #111;
}

.footer p{
  display: flex;
  justify-content: flex-end;
  color: gray;
  padding-top: 10px;
  padding-right: 10px;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .left-section {
    order: 2;
    min-width: 100%;
    height: 300px;
  }
  .right-section {
    order: 1;
    min-width: 100%;
  }
}
